@font-face {
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Barlow"), url("@/assets/fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("@/assets/fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: "Barlow-Semi";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("@/assets/fonts/Barlow-SemiBold.ttf");
}